<!doctype html>
<html>
<head>
	  <link href="../static/assets/css/atlantis.css" rel="stylesheet" type="text/css" media="screen">
    <link href="../static/assets/css/atlantis.css.map.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/atlantis.min.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/demo.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"><link href="../static/assets/css/fonts.min.css" rel="stylesheet" type="text/css">
<div th:include="layout::head"></div>
<meta charset="utf-8">
<title>error</title>
</head>

<body>
	<div class="logo-header" data-background-color="blue" style="width:100%">
	  <h1><font color="#FFFFFF">Error</font></h1>
	</div>
	
	
	
</body>
</html>