<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
	 <link href="../static/assets/css/atlantis.css" rel="stylesheet" type="text/css" media="screen">
    <link href="../static/assets/css/atlantis.css.map.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/atlantis.min.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/demo.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"><link href="../static/assets/css/fonts.min.css" rel="stylesheet" type="text/css">
	
    <div th:include="layout::head"></div>
</head>
<body>
<div th:fragment="content">
    <div class="wrapper">
        <div class="row" style="height: 15%"></div>
        <div class="row" style="height: 70%">
            <div class="col-md-3 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">重置密码</h4>
                    </div>
                    <form action="/login" method="post">
                        <div class="card-body">
                           
							<div class="form-group">
                                <label for="username">用户名</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="这里输入用户名" style="width:70%,display:inline,float:left" >
                          		  <button type="submit" class="btn btn-primary btn-block"><b>获取密保问题</b></button>
                       
					
								
                            </div>
							<div class="form-group">
								<label for="user-question">(密保问题)</label>
                                <input type="text" class="form-control" id="answer" name="answer" placeholder="这里输入答案">
                            </div>
                            <div class="form-group">
                                <label for="password">新密码</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="这里输入新密码">
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-primary btn-block"><b>提交</b></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:include="layout::custom-template"></div>
    </div>
</div>
<div th:include="layout::js"></div>
</body>
</html>
