<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<link href="../static/assets/css/atlantis.css" rel="stylesheet" type="text/css" media="screen">
    <link href="../static/assets/css/atlantis.css.map.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/atlantis.min.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/demo.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"><link href="../static/assets/css/fonts.min.css" rel="stylesheet" type="text/css">
	<div th:include="layout::head"></div>
<title>information</title>
</head>

<body>
<div class="main-panel" >
  <div class="card" style="left:20px;position:inherit;width:90%; ">
    <div style="left: 5%;position: inherit">
      <div class="page-header" style="height:60px;left:20px"></div>
      <div class="card-title" style="left:30px;position:inherit "> <font style="vertical-align: inherit" ><font style="vertical-align: inherit;">基本信息</font></font> </div>
      <table style="width: 80% ;left:20px;position:inherit " class="table table-bordered" >
        <tbody>
          <tr style="background-color: #F2F2F2;border-color: #212121">
            <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">姓名</font></font></th>
            <td style="background-color: #FFFFFF"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">二狗子</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">在校状态</font></font></td>
            <td style="background-color: #FFFFFF"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">在校</font></font></td>
          </tr>
          <tr style="background-color: #F2F2F2;border-color: #212121">
            <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学号</font></font></th>
            <td style="background-color: #FFFFFF"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2018303208</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">身份</font></font></td>
            <td style="background-color: #FFFFFF"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学生</font></font></td>
          </tr>
          <tr style="background-color: #F2F2F2;border-color: #212121">
            <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">手机</font></font></th>
            <td style="background-color: #FFFFFF"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">180892131811</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">性别</font></font></td>
            <td style="background-color: #FFFFFF"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">男</font></font></td>
          </tr>
          <tr style="background-color: #F2F2F2;border-color: #212121">
            <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">班号</font></font></th>
            <td style="background-color: #FFFFFF"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">14011809</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">班级</font></font></td>
            <td style="background-color: #FFFFFF"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">软件九班</font></font></td>
          </tr>
          <tr style="background-color: #F2F2F2;border-color: #212121">
            <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">专业</font></font></th>
            <td style="background-color: #FFFFFF"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">软件工程</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学院</font></font></td>
            <td style="background-color: #FFFFFF"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">软件学院</font></font></td>
          </tr>
          <tr style="background-color: #F2F2F2;border-color: #212121">
            <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">邮箱</font></font></th>
            <td style="background-color: #FFFFFF"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">857331073@qq.com</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">职务</font></font></td>
            <td style="background-color: #FFFFFF"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">无</font></font></td>
          </tr>
        </tbody>
      </table>
      <div class="card-title" style="left:20px;position:inherit " > <font style="vertical-align: inherit" ><font style="vertical-align: inherit;">统计信息</font></font> </div>
      <table class="table table-bordered" style="width: 80%;left:20px;position:inherit ">
        <thead>
          <tr>
            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学分积</font></font></th>
            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学分积排名</font></font></th>
            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">综合测评</font></font></th>
            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">综测排名</font></font></th>
            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">考勤次数</font></font></th>
            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">考勤率</font></font></th>
            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">活动参加数 </font></font></th>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color:  #F2F2F2">
            <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1个</font></font></th>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">表格单元格</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">表格单元格</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">表格单元格</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">表格单元格</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">表格单元格</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">表格单元格</font></font></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--
		  <footer class="footer">
		    <div class="container-fluid">
		      <nav class="pull-left">
		        <ul class="nav">
		          <li class="nav-item"> <a class="nav-link" href="#"> ThemeKita </a></li>
		          <li class="nav-item"> <a class="nav-link" href="#"> Help </a></li>
		          <li class="nav-item"> <a class="nav-link" href="#"> Licenses </a></li>
	            </ul>
	          </nav>
		      <div class="copyright ml-auto"> 2018, made with by ThemeKita - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></div>
	        </div>
	    </footer>
-->
  </div>
</div>

<script src="../assets/js/core/jquery.3.2.1.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="../assets/js/plugin/chart.js/chart.min.js"></script>
<script src="../assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
<script src="../assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="../assets/js/plugin/datatables/datatables.min.js"></script>
<script src="../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="../assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
<script src="../assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>
<script src="../assets/js/plugin/sweetalert/sweetalert.min.js"></script>
<script src="../assets/js/atlantis.min.js"></script>
<script src="../assets/js/setting-demo.js"></script>
<script src="../assets/js/demo.js"></script>
<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

	
	
	
</body>
</html>
