<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout::head"></th:block>
    <title>全员育人系统登录</title>

    <!-- JavaScript -->
    <th:block th:include="layout::js"></th:block>

    <script th:src="@{/assets/js/ase/ase-login.js}"></script>

</head>
<body>
<div class="parent">
    <div class="middle-container card">
        <div class="card-header">
            <h4 class="card-title">登录</h4>
        </div>
        <form id="login-form" action="/login/process" method="post">
            <div class="card-body">
                <div id="username-group" class="form-group">
                    <label for="username">学号</label>
                    <div class="input-icon">
                        <span class="input-icon-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input type="text" class="form-control" id="username" name="username" placeholder="这里输入学号" required>
                    </div>

                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <div class="input-icon">
                         <span class="input-icon-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        <input type="password" class="form-control" id="password" name="password" placeholder="这里输入密码" required>
                    </div>

                </div>
            </div>
            <div class="card-action">
                <button type="submit" class="btn btn-primary btn-block"><b>登录</b></button>
                <div class="form-check" align="right">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-sign">记住密码</span>
                    </label>
                </div>
            </div>
        </form>
        <button onclick="login()" class="btn btn-primary btn-block"><b>检查</b></button>
        <div class="line-display">
            <a class="btn-link"  th:href="@{/forget}"><b>忘记密码</b></a>
            &nbsp;&nbsp;&nbsp;
            <a class="btn-link" th:href="@{/register}"><b>注册账号</b></a>
        </div>
    </div>
</div>


</body>
</html>
