<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="layout::head"></div>
<meta charset="utf-8">
<title>notfound</title>
</head>

<body>
<div class="wrapper">
	<div class="main-header">
		<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
			<div class="container-fluid">
				<h1 style="color: white">Page Not Found</h1>
			</div>
		</nav>
	</div>
	<div class="main-panel">
		<div class="content">
			<div class="col-md-8">
				<div class="card"><img th:src="@{/assets/img/404.jpg}" /></div>
			</div>

		</div>
	</div>
</div>
	
	
</body>
</html>
